//
// Page
//




// Page body
body {
	background-color: $k-page-bg-color;
}

// Desktop mode
@include k-desktop {
	// Wrapper	
	.k-wrapper {
		transition: k-get($k-aside-config, base, minimize, transition);
		
		// Fixed Aside
		.k-aside--fixed & {
			padding-left: k-get($k-aside-config, base, default, width);
		}

		// Minimize Aside
		.k-aside--fixed.k-aside--minimize & {
			padding-left: k-get($k-aside-config, base, minimize, width);
			transition: k-get($k-aside-config, base, minimize, transition);
		}
	}

	// Page
	.k-page {
		// Fixed Header
		.k-header--fixed & {
			padding-top: k-get($k-header-config, base, desktop, default, height);
		}

		// Fixed Content Head
		.k-header--fixed.k-subheader--fixed.k-subheader--enabled & {
			padding-top: k-get($k-header-config, base, desktop, default, height) + k-get($k-subheader-config, fixed, height);
		}
	}

	// Subheader
	.k-subheader {
		margin: 0;

		// Fixed subheader mode
		.k-subheader--fixed & {			
			position: fixed;			
			height: k-get($k-subheader-config, fixed, height);
			top: k-get($k-header-config, base, desktop, default, height);
			left: k-get($k-aside-config, base, default, width);
			right: 0;
			transition: all 0.3s ease;
			z-index: k-get($k-header-config, base, desktop, fixed, zindex) - 1;
			box-shadow: 0px 10px 30px 0px rgba(82,63,105, 0.08);
			background-color: #fff;
			padding-top: 0;
			padding-bottom: 0;
		}

		// Solid style 
		.k-subheader--solid & {
			background-color: $k-page-bg-color;
			border-bottom: 1px solid darken($k-page-bg-color, 3%);
		}	
	
		// Fixed header, minimized header and fixed subheader
		.k-header--fixed.k-header--minimize.k-subheader--fixed & {
			top: k-get($k-header-config, base, desktop, fixed, minimizeHeight);
			transition: top 0.3s ease;
		}
			
		.k-subheader--fixed.k-aside--minimize-hover &,
		.k-subheader--fixed.k-aside--minimize & {
			left: k-get($k-aside-config, base, minimize, width);
			transition: k-get($k-aside-config, base, minimize, transition);
		}
	
		.k-subheader--fixed.k-aside-secondary--enabled & {
			transition: all 0.3s ease;
			right: k-get($k-aside-secondary-config, self, width, default);
		}
	
		.k-subheader--fixed.k-aside-secondary--expanded.k-aside-secondary--enabled & {
			transition: all 0.3s ease;
			right: k-get($k-aside-secondary-config, self, width, expanded);
		}

		// Aside secondary integration
		.k-aside-secondary--enabled:not(.k-subheader--fixed) & {
			margin-right: k-get($k-aside-secondary-config, self, width, default);
			transition: all 0.3s ease;
		}

		.k-aside-secondary--expanded.k-aside-secondary--enabled:not(.k-subheader--fixed) & {
			transition: all 0.3s ease;
			margin-right: k-get($k-aside-secondary-config, self, width, expanded);
		}
	}
}

// Tablet and mobile mode
@include k-tablet-and-mobile {	
	// Page
	.k-page {
		// Fixed Header
		.k-header-mobile--fixed & {
			padding-top: k-get($k-header-config, base, mobile, self, default, height);
		}
	}
}

