//
// Content
//




@include k-desktop {
	// Content
	.k-content {		
		padding-left: k-get($k-page-padding, desktop);
		padding-top: 10px;
		
		// Footer fixed
		.k-footer--fixed & {
			padding-bottom: k-get($k-footer-config, self, fixed, height);
		} 
	}
}

@include k-tablet-and-mobile {
	// Content
	.k-content {
		padding: 0 k-get($k-page-padding, mobile) k-get($k-page-padding, mobile) k-get($k-page-padding, mobile);

		// Subheader enabled
		.k-subheader--enabled.k-subheader--transparent & {
			padding-top: 0;
		}
	}
}