@import url("aside.scss");
@import url("svglinks.scss");


.kt-login-v1 .kt-login-v1__body .kt-login-v1__seaprator {
  background-color: #ebedf2;
}

.kt-login-v1 .kt-login-v1__body .kt-login-v1__wrapper .kt-login-v1__container .kt-login-v1__form .form-group .form-control {
  border-color: #fff;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-text-fill-color: #495057 !important;
  transition: background-color 5000s ease-in-out 0s !important;
}


.form-login2:-webkit-autofill,
.form-login2:-webkit-autofill:hover,
.form-login2:-webkit-autofill:focus,
.form-login2:-webkit-autofill:active {
  -webkit-text-fill-color: #495057 !important;
  transition: background-color 5000s ease-in-out 0s !important;
}

// Form

.kt-login-v1__form .error  {
  padding-left:30px !important;
}

body::before {
  opacity: 0;
}

.kt_login_cancel2 {
  color:#212529 !important;
}

.kt_login_cancel2:hover {
  color:#fff !important;
}

.kt-login-v2__option--facebook {
  background-color: #3C5A99 !important;
  color:#fff;
}

.kt-login-v2__option--google {
  background-color: #DB4437 !important;
  color:#fff;
}

.kt-font-white {
  color: #fff !important;
}

.kt-login-v2 .kt-login-v2__body .kt-login-v2__wrapper .kt-login-v2__container .kt-login-v2__options>a:last-child {
  margin: 0 2rem;
}

.kt-login-v2 .kt-login-v2__body .kt-login-v2__image>img {
  width: 100%;
  max-width: 500px;
  height: 100%;
}

.body1 {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background-color: #f5f5f5;
  opacity: 0;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@media (max-width: 1024px) {
  .kt-login-v2 .kt-login-v2__body .kt-login-v2__wrapper .kt-login-v2__container .kt-login-v2__options {
    margin-top:0rem;
  }

  .kt-login-v2 .kt-login-v2__body .kt-login-v2__wrapper .kt-login-v2__container .kt-login-v2__form {
    padding-bottom:0rem;
  }
  .kt-login-v2 .kt-login-v2__body {
    margin-top:1rem;
  }

  .kt-login-v2 .kt-login-v2__head .kt-login-v2__head-signup {
    padding-top:1rem;
  }
}



#kt_subheader {
    -webkit-box-shadow: 0px 0px 40px 0px rgba(82,63,105,0.1);
    box-shadow: 0px 0px 40px 0px rgba(82,63,105,0.1);
}
// Datetimepicker
.datetimepicker table tr td.disabled, .datetimepicker table tr td.disabled:hover, .datetimepicker table tr td span.disabled, .datetimepicker table tr td span.disabled:hover {
    background: 0;
    color: #ddd!important;
    cursor: not-allowed;
}

.datetimepicker tbody tr>td.day.selected, .datetimepicker tbody tr>td.day.active {
    background: #1dc9b7;
}

// Panel
#kt_offcanvas_01.kt-offcanvas-panel {
    right: calc(-100vw - 20px);
    width: calc(100vw - 20px) !important;
}

#kt_offcanvas_01.kt-offcanvas-panel.kt-offcanvas-panel--on {
    /*width: calc(100% - 200px) !important;*/
    right: 0 !important;
}


@media (max-width: 575px) {
    .kt-content {
        padding: 15px 0px 15px 0px;
        overflow: hidden;
    }
}

@media (min-width: 576px) {

}


@media (min-width: 768px) {
    .modal-lg, .modal-xl {
        max-width: calc(100% - 1rem);
    }
}


@media (min-width: 992px) {
    // Panel
    #kt_offcanvas_01.kt-offcanvas-panel {
        right: calc(-100vw - 200px);
        width: calc(100% - 200px) !important;
    }

    #kt_offcanvas_01.kt-offcanvas-panel.kt-offcanvas-panel--on {
        /*width: calc(100% - 200px) !important;*/
        right: 0 !important;
    }

}

@media (min-width: 1025px) {
    .kt-header--fixed .kt-page {
        padding-top: 60px;
    }

    #kt_header {
        height:60px;
    }
}


@media (min-width: 1200px) {

}


