
.ml-auto {
	margin-left: auto;
}

.example-full-width {
	width: 100%;
}

.form-group .k-timeline-3 {
	&::before {
		background-color: transparent;
	}
}


// k-form
.k-form {
	.k-form__filtration,
	.k-form__group-action {
		margin: 0 0 30px;
	}
	.k-form__actions.k-form__actions--sm {
		padding-top: 1rem;
		padding-bottom: 1rem;
	}
	.k-form__actions {
		padding: 30px;
		&.k-form__actions--solid {
			padding: 30px;
			background-color: #f7f8fa;
			border-color: #f7f8fa;
		}
	}
}

.k-margin {
	&-top-20 {
		margin-top: 20px;
	}
	&-bottom-20 {
		margin-bottom: 20px;
	}
}

.k-padding-0 {
	padding: 0;
}

.k-form.k-form--group-seperator .k-form__group,
.k-form.k-form--group-seperator-dashed .k-form__group {
	padding-top: 25px;
	padding-bottom: 25px;
}