// Portlets
.k-portlet {
	// Angular source code previewer
    &.k-portlet--ngviewer {
        .k-portlet__body {
            padding: 0;

            .k-portlet__code {
                display: none;

                &.k-portlet__code--show {
                    display: block;
                }
            }
                
            .k-portlet__preview {
                padding: k-get($k-portlet, space, desktop) k-get($k-portlet, space, desktop);
            }
        }    

        .k-portlet__code-copy {
        	position: absolute;
        	right: 0;
        	top: 10px;
        	
        	i {
        		font-size: 2rem;
        	}

        	&:hover {
        		i {
        			text-decoration: none;
        		}
        	}
        }  
    }  

    // Portlet progress bar
    .k-portlet__progress-bar__wrapper {
        height: 5px;
    }

    .k-portlet__progress-bar {
        height: 5px;
    }

    // Tools
    .k-portlet__head-tools {
        button {
            margin-left: 5px;
        }
    }
}

.k-form--alert {
	margin-top: 30px;
}

.k-portlet-mx-0 {
	margin: -1.1rem -2.2rem 0;
	overflow-x: hidden;
}

.k-portlet {
	.k-portlet__body .k-portlet__body-progress {
		display: none;
	}

	.k-form.k-form--fit > .k-portlet__body {
		padding-left: 0;
		padding-right: 0;
	}
	&.k-portlet--body-progress .k-portlet__body {
		position: relative;
		-webkit-animation: m-animate-fade-out 0.3s;
		animation: m-animate-fade-out 0.3s;
		.k-portlet__body-progress {
			background-color: #fff;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: 5;
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-align: center;
			-ms-flex-align: center;
			align-items: center;
			-webkit-box-pack: center;
			-ms-flex-pack: center;
			justify-content: center;
			-webkit-box-flex: 1;
			-ms-flex-positive: 1;
			flex-grow: 1;
		}
	}

	// TODO
	&__head__custom {
		.k-portlet__head-label {
			display: flex;
			align-items: center;
		}
		.k-portlet__head-title {
			margin-bottom: 0;
		}
	}
	// TODO
}