//
// Content
//



.k-content {
	padding: k-get($k-page-padding, desktop);
	padding-top: $grid-gutter-width;
}

@include k-tablet-and-mobile {
	.k-content {
		padding: k-get($k-page-padding, mobile);
	}
}